@import '../../../styles/variables';
$VERTICAL_MARGIN: 2px;

.Continent {
  position: relative;
  min-width: 200px;
  height: $ANIMAL_HEIGHT + $ANIMAL_MARGIN;
  border: 1px solid #898;
  display: flex;
  justify-content: center;

  &.isActive {
    background: $CURRENT_TURN_BACKGROUND;
  }

  &.EnemyContinent {
    //transform: rotate(180deg);
  }

  &.EnemyContinent,
  &.ContinentFeeding {
    padding: 0 $ANIMAL_MARGIN;
    .Animal {
      margin: $VERTICAL_MARGIN $ANIMAL_MARGIN;
    }
  }

  .Animal {
    margin: $VERTICAL_MARGIN 2px;
    z-index: 4;
    position: relative;
    align-self: flex-end;
  }

  .ContinentZone {
    padding: $VERTICAL_MARGIN $ANIMAL_MARGIN;
    z-index: 1;
    position: relative;
    align-self: flex-end;
    //background: #77f;

    &:first-child,
    &:last-child {
      flex: 1;
      .inner {
        margin: 0 auto;
      }
    }

    .inner {
      transition: width .1s;
      width: 0px;
      height: $ANIMAL_HEIGHT;
      //outline: 2px dotted red;
    }

    &.highlight .inner {
      width: $ANIMAL_WIDTH;
      outline: 2px dotted green;
    }
  }
}