.CardCollection {
  margin: 0 auto;
  white-space: nowrap;
  .CardPlace {
    display: inline-block;
    position: relative;
    .Card {
      white-space: normal;
      //position: absolute;
    }
  }
}