@import '../../styles/variables';

.GameWrapper {
  display: flex;
  min-width: $FULL_SCREEN_MIN_WIDTH + 149px;
  min-height: $FULL_SCREEN_MIN_HEIGHT;
  flex: 1;
  #game {
    height: 100%;
    display: flex;
  }
}