@import '../../styles/variables';

$MARGIN: 1px;

.Game-wrapper {
  display: flex;
  flex: 1 0 0;

  background: lighten($MDL_ACCENT_COLOR, 10%);

  border: $MARGIN solid $MDL_ACCENT_COLOR; // Jerky "margin" =\
  box-sizing: border-box;
}

.PlayerStickerCard {
  background: white;
}

.Game {
  background: lighten($MDL_ACCENT_COLOR, 10%);

  .Short {
    flex: 0 1 auto;
  }

  .GameShellContainer .TraitShell {
    display: inline-block;
  }

  .PlayersStickerCard {
    .PlayersList {
      min-width: 160px;
      max-width: 160px;
      line-height: 1.4em;
      max-height: 180px;

      .Player {
        font-size: 1.2em;
        height: 2em;
        @include ellipsis();
      }
      .isPlayerTurn {
        background: $CURRENT_TURN_BACKGROUND;
        font-weight: 500;
      }

      .Icon {
        vertical-align: middle;
      }

      .ended {
        color: #bbb;
      }
    }
  }

  .DeckSticker {
    .deck {
      margin: 5px 15px 15px 0;
      .Deck {
        background: gray;
        box-shadow: 1px 1px 1px 1px gray;
      }
    }
  }

  .GameSticker {
    .controls {
      display: flex;
      justify-content: space-around;
      margin-bottom: .5em;
    }
    .line {
      line-height: 1.5em;
      .key {
        font-weight: bold;
      }
    }
  }

  .FoodCard {
    //flex: 1;
    flex: 0 1;
    min-width: 150px;
    max-height: 180px;
  }

  .ChatCard {
    flex: 2;
    font-size: 16px;
    min-width: 150px;
  }
}