@import '../../styles/variables';

.Game {
  .PlayerStickerCard {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    padding: 0;
    .CardCollectionIcon {
      width: 100%;
      text-align: center;
      &.active {
        background: $CURRENT_TURN_BACKGROUND;
      }
      .material-icons {
        vertical-align: middle;
      }
    }

    //.PlayerStickerWrapper {
    //  height: 100%;
    //  &.Animation-enter {
    //    position: absolute; left: 0; top: 0;
    //    opacity: 0.01;
    //  }
    //
    //  &.Animation-enter.Animation-enter-active {
    //    opacity: 1;
    //    transition: opacity 500ms ease-in;
    //  }
    //
    //  &.Animation-leave {
    //    position: absolute; left: 0; top: 0;
    //    opacity: 1;
    //  }
    //
    //  &.Animation-leave.Animation-leave-active {
    //    opacity: 0.01;
    //    transition: opacity 300ms ease-in;
    //  }
    //}

    .PlayerStickerControls {
      height: 100%;
      display: flex;
      flex: 1 1 0;
      min-width: 0;
      flex-direction: column;
      background-color: #fff;
      .PlayerStickerBody {
        position: relative;
        overflow: hidden;
        //overflow: scroll;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        align-items: center;
        justify-content: flex-end;
        .PlayerStickerInner {
          .PlayerWrapper {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            position: relative;
            .Animal {
              flex: 0 0 $ANIMAL_WIDTH;
              max-width: $ANIMAL_WIDTH;
            }
            .CardCollection {
              height: $CARD_HEIGHT;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.arrow {
  position: absolute;
  pointer-events: none;
  opacity: .3;
  font-size: $PLAYER_STICKER_ARROW_SIZE !important;
}
.arrow-left, .arrow-right {
  top: calc(50% - 32px);
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.arrow-top, .arrow-bottom {
  left: calc(50% - 32px);
}
.arrow-top {
  top: 0;
}
.arrow-bottom {
  bottom: 0;
}