{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    ["babel-root-import", "transform-class-properties"]
  ]
}
