$CARD_WIDTH: 60px;
$ANIMAL_WIDTH: 60px;
$ANIMAL_HEIGHT: 80px;
$ANIMAL_MARGIN: 10px;

$CURRENT_TURN_BACKGROUND: #dfd;

.enabled[draggable] {
  cursor: -webkit-grab;
}

.enabled.drag {
  cursor: -webkit-grabbing;
}

.GameUI {
  width: 120px;
  padding: .5em 1em 0;
}

.Game {
  position: relative;
  width: 600px;
  height: 600px;

  .PlayerWrapper {
    position: absolute;

    .CardCollection {
      height: 80px;
    }

    .Continent {
      position: relative;
      width: 500px;
      background: #aaf;

      .animals-container-outer {
        width: 100%;
        text-align: center;
        .animals-container-inner {
          display: inline-block;
          .Animal {
            display: inline-block;
            margin: 10px 0 10px 0;
            z-index: 4;
            position: relative;
            vertical-align: top;
            width: $ANIMAL_WIDTH;
            height: $ANIMAL_HEIGHT;
            &.highlight {
              box-shadow: 0px 0px 1em 1em yellow;
            }
          }

          .ContinentZone {
            display: inline-block;
            padding: 10px 0 10px 0;
            z-index: 1;
            position: relative;
            width: ($ANIMAL_WIDTH + $ANIMAL_MARGIN * 2);
            height: $ANIMAL_HEIGHT;
            margin-left: -($ANIMAL_WIDTH/2);
            margin-right: -($ANIMAL_WIDTH/2);
            transition: width .1s;
            background: #77a;

            .inner {
              position: absolute;
              bottom: 0;
              left: ($ANIMAL_MARGIN);
              right: ($ANIMAL_MARGIN);
              height: 100%;
            }

            &.highlight {
              width: ($ANIMAL_WIDTH * 2 + $ANIMAL_MARGIN * 2);
              .inner {
                left: ($ANIMAL_WIDTH / 2 + $ANIMAL_MARGIN);
                right: ($ANIMAL_WIDTH / 2 + $ANIMAL_MARGIN);
                outline: 2px dotted green;
              }
            }
          }
        }
      }
    }

    .drop-targets-container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .Animal {
    width: $ANIMAL_WIDTH;
    height: $ANIMAL_HEIGHT;
    //position: absolute;
    //bottom: 0;

    .AnimalTrait {
      width: 100%;
      font-size: 10px;
      word-wrap: break-word;
      outline: 1px solid black;
      background: #9fe1e7;
      position: absolute;
      //top: -1em;
      &[draggable].enabled {
        background: #f90;
      }
    }

    .AnimalFoodContainer {
      .Food {
        display: inline-block;
        margin: .2em;
      }
    }

    .inner {
      width: 100%;
      height: $ANIMAL_HEIGHT;
      word-wrap: break-word;
      outline: 1px solid black;
      background: #9fe1e7;
    }
  }

  .GameFoodContainer {
    position: absolute;
    width: 6em;
    .Food {
      display: inline-block;
      margin: .2em;
    }
  }

  .Food {
    width: 1em;
    height: 1em;
    background: #FF0;
    outline: 1px solid black;
    &.disabled {
      background: #888;
    }
  }
}

.PlayersList {
  .Player {
  }
  .isPlayerTurn {
    background: $CURRENT_TURN_BACKGROUND;
    font-weight: bold;
  }
}

.GameStatus {
  margin-top: .5em;
  .key {
    display: inline-block;
    width:4em;
    font-weight: bold;
  }
}

.DeckWrapper {
  margin-top: .5em;
  .CardPlace {
    position: absolute;
    .Card {
      border-color: gray;
    }
  }
}

.Card {
  position: absolute;
  border: 1px solid black;
  background: gray;
  word-wrap: break-word;
  &.enabled {
    background: #797;
  }
  &.disabled {
    background: #977;
  }
  &.drag {
    .inner {
      user-select: none;
      width: 100%;
      height: 100%;
      //transform: translate(-3px, -3px);
      box-shadow: 3px 3px 1px;
      transition: transform .25s, box-shadow .25s;
    }
  }
}