$CARD_WIDTH: 60px;
$ANIMAL_WIDTH: 60px;
$ANIMAL_HEIGHT: 80px;
$ANIMAL_MARGIN: 10px;
.Game {
  position: relative;
  width: 600px;
  height: 800px;
  background: #dfd;

  .DeckWrapper {
    position: absolute;
  }

  .PlayerWrapper {
    position: absolute;

    .CardCollection {
      height: 80px;
    }

    .Continent {
      position: relative;
      width: 500px;
      height: 200px;
      background: #aaf;

      .animals-container-outer {
        width: 100%;
        text-align: center;
        .animals-container-inner {
          display: inline-block;
          .animal-wrapper {
            display: inline-block;
            padding: 10px 0 10px 0;
            z-index: 4;
            position: relative;
            vertical-align: top;
            width: $ANIMAL_WIDTH;
            height: $ANIMAL_HEIGHT;
            &.highlight .Animal {
              box-shadow: 0px 0px 1em 1em yellow;
            }
          }

          .ContinentZone {
            display: inline-block;
            padding: 10px 0 10px 0;
            z-index: 1;
            position: relative;
            width: ($ANIMAL_WIDTH + $ANIMAL_MARGIN * 2);
            height: $ANIMAL_HEIGHT;
            margin-left: -($ANIMAL_WIDTH/2);
            margin-right: -($ANIMAL_WIDTH/2);
            transition: width .1s;
            background: #77a;

            .inner {
              position: absolute;
              bottom: 0;
              left: ($ANIMAL_MARGIN);
              right: ($ANIMAL_MARGIN);
              height: 100%;
            }

            &.highlight {
              width: ($ANIMAL_WIDTH * 2 + $ANIMAL_MARGIN * 2);
              .inner {
                left: ($ANIMAL_WIDTH / 2 + $ANIMAL_MARGIN);
                right: ($ANIMAL_WIDTH / 2 + $ANIMAL_MARGIN);
                outline: 2px dotted green;
              }
            }
          }
        }
      }
    }

    .EnemyContinent {
      width: 500px;
      height: 200px;
      background: #aaf;
    }

    .drop-targets-container {
      position: absolute;
      width: 100%; height: 100%;
    }
  }

  .Card {
    position: absolute;
    border: 1px solid black;
    background: gray;
    word-wrap: break-word;
    &.enabled[draggable] {
      cursor: -webkit-grab;
      background: #797;
    }
    &.disabled {
      background: #977;
    }
    &.drag {
      cursor: -webkit-grabbing;
      .inner {
        user-select: none;
        width: 100%;
        height: 100%;
        //transform: translate(-3px, -3px);
        box-shadow: 3px 3px 1px;
        transition: transform .25s, box-shadow .25s;
      }
    }
  }

  .Animal {
    width: $ANIMAL_WIDTH;
    height: $ANIMAL_HEIGHT;
    //position: absolute;
    //bottom: 0;

    .AnimalTrait {
      width: 100%;
      font-size: .8em;
      word-wrap: break-word;
      outline: 1px solid black;
      background: #9fe1e7;
      position: absolute;
      //top: -1em;
    }

    .inner {
      width: 100%;
      height: $ANIMAL_HEIGHT;
      word-wrap: break-word;
      outline: 1px solid black;
      background: #9fe1e7;
    }
  }
}