@import './variables';

.TraitFatTissue {
  color: #d60;
  &.value {background: #ff0;}
  &.value.active {
    background: $TRAIT_ACTIVE_BACK;
    color: $TRAIT_ACTIVE_TEXT;
  }
}

.TraitCarnivorous {color: #900;}

.TraitSwimming {color: #00F;}

.TraitCommunication {
  color: #99F;
  &.Link {stroke: #99F;}
}

.TraitCooperation {
  color: #090;
  &.Link {stroke: #090;}
}

.TraitSymbiosis {
  $color: #F06;
  color: $color;
  &.Link {stroke: $color;}
  &.Marker {fill: $color;}
  &.MarkerStart {marker-start: url(#symbioticArrow);}
  &.MarkerEnd {marker-end: url(#symbioticArrow);}
}

.TraitTrematode {
  $color: #909;
  color: $color;
  &.Link {stroke: $color;}
}

.TraitParasite {color: #60c;}