@import './variables';

$TraitCarnivorous: #900;
$TraitSwimming: #00F;
$TraitRecombination: #3AA;
$TraitCommunication: #99F;
$TraitCooperation: #090;
$TraitSymbiosis: #F06;
$TraitParasite: #909;
$TraitFatTissue: #FF0;

$Activated: #f66;

.AnimalTraitArrow.Marker {
  fill: red;
}

.TraitFatTissue {
  color: #d60;
  &.value {background: $TraitFatTissue;}
  &.value.active {
    background: $TRAIT_ACTIVE_BACK;
    color: $TRAIT_ACTIVE_TEXT;
  }
}

.TraitCarnivorous {color: $TraitCarnivorous;}

.TraitSwimming {color: $TraitSwimming;}

.TraitRecombination {
  color: $TraitRecombination;
  &.Link {stroke: $TraitRecombination;}
  &.AnimalLinkedTrait--Link {stroke: $TraitRecombination;}
  &.pointer.active {
    color: $TRAIT_ACTIVE_TEXT;
  }
}

.TraitCommunication {
  color: $TraitCommunication;
  &.Link {stroke: $TraitCommunication;}
  &.AnimalLinkedTrait--Link {stroke: $TraitCommunication;}
}

.TraitCooperation {
  color: $TraitCooperation;
  &.Link {stroke: $TraitCooperation;}
  &.AnimalLinkedTrait--Link {stroke: $TraitCooperation;}
}

.TraitSymbiosis {
  color: $TraitSymbiosis;
  &.Link {stroke: $TraitSymbiosis;}
  &.AnimalLinkedTrait--Link {stroke: $TraitSymbiosis;}
  &.Marker {fill: $TraitSymbiosis;}
  &.MarkerStart {marker-start: url(#symbioticArrow);}
  &.MarkerEnd {marker-end: url(#symbioticArrow);}
}

.TraitTrematode {
  color: $TraitParasite;
  &.Link {stroke: $TraitParasite;}
  &.AnimalLinkedTrait--Link {stroke: $TraitParasite;}
}

.TraitParasite {color: $TraitParasite;}

.TraitNeoplasm {color: $TraitParasite;}

.TraitAmbush {
  &.value.pointer.active {
    font-weight: bold;
    background: $Activated;
  }
}

.TraitAnglerfish {
  &.value.pointer.active {
    font-weight: bold;
    background: $Activated;
  }
}