@import '../styles.json';

$FULL_SCREEN_MIN_WIDTH: $FULL_SCREEN_MIN_WIDTH * 1px;
$FULL_SCREEN_MIN_HEIGHT: $FULL_SCREEN_MIN_HEIGHT * 1px;

$CARD_WIDTH: $CARD_WIDTH                   * 1px;
$CARD_HEIGHT: $CARD_HEIGHT                 * 1px;
$ANIMAL_WIDTH: $ANIMAL_WIDTH               * 1px;
$ANIMAL_HEIGHT: $ANIMAL_HEIGHT             * 1px;
$ANIMAL_SIZE: $ANIMAL_SIZE                 * 1px;
$ANIMAL_MARGIN: $ANIMAL_MARGIN             * 1px;
$ANIMAL_TRAIT_SIZE: $ANIMAL_TRAIT_SIZE     * 1px;
$ANIMAL_TRAIT_HEIGHT: $ANIMAL_TRAIT_HEIGHT * 1px;
$ANIMAL_TRAIT_DETAILS_WIDTH: $ANIMAL_TRAIT_DETAILS_WIDTH * 1px;
$ANIMAL_TRAIT_DETAILS_HEIGHT: $ANIMAL_TRAIT_DETAILS_HEIGHT * 1px;

$TRAIT_ACTIVE_BACK: #fc3;
$TRAIT_ACTIVE_TEXT: #000;

$CURRENT_TURN_BACKGROUND: #dfd;

@mixin selection() {
  box-shadow: 0px 0px .5em .5em yellow;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}