/* This is a very good idea, but it's not used. Sorry, I have no idea why o_o */
$FULL_SCREEN_MIN_WIDTH: 750px;
$FULL_SCREEN_MIN_HEIGHT: 650px;

$CARD_WIDTH: 90px;
$CARD_HEIGHT: 120px;
$ANIMAL_WIDTH: 120px;
$ANIMAL_HEIGHT: 120px;
$ANIMAL_MARGIN: 5px;
$ANIMAL_TRAIT_HEIGHT: 18px;
$ANIMAL_TRAIT_DETAILS_WIDTH: 120px;
$ANIMAL_TRAIT_DETAILS_HEIGHT: 120px;

$TRAIT_ACTIVE_BACK: #fc3;
$TRAIT_ACTIVE_TEXT: #000;

$CURRENT_TURN_BACKGROUND: #dfd;

// No idea how to get it from MDL. Using https://material.io/guidelines/style/color.html#color-color-palette
$MDL_PRIMARY_COLOR: #009688; // Teal
$MDL_ACCENT_COLOR: #3F51B5; // Indigo

$ziAnimation: 5;
$ziAnimalHover: 6;
$ziDialog: 999; // todo remove and check what'll break

@mixin selection() {
  box-shadow: 0px 0px .5em .5em yellow;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}