@import 'evolution';
@import 'traits';

// @formatter:off

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  letter-spacing: .04em;
  font-weight: 400;
  line-height: 24px;
}

h1, .h1 {font-size: 2.0em; padding: .5em .5em .25em;}
h2, .h2 {font-size: 1.8em; padding: .25em .25em 0;}
h3, .h3 {font-size: 1.6em; padding: 0 .25em 0;}
h4, .h4 {font-size: 1.4em;}
h5, .h5 {font-size: 1.2em;}
h6, .h6 {font-size: 1.2em;}

a, .pointer {cursor: pointer;}

a {
  text-decoration: underline;
  &:hover {text-decoration: none;}
}

a[disabled] {
  pointer-events: none;
  color: gray;
  text-decoration: none;
}

// @formatter:on

.bold, strong {
  font-weight: bold;
}

.layout-padding {
  padding: 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

// MDL

// @formatter:off
.mdl-layout__content {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  //height: 100%;
}

// fix for header ControlGroup colors
.mdl-navigation.header .mdl-button {color: white; &[disabled] {color: gray;}}

// Too much padding
.mdl-card__title {padding-bottom: 0;}

.mdl-card__supporting-text {padding-top: 0;}

.mdl-list {padding: 0;}

.mdl-list__item.small {padding: 8px; min-height: 24px;}
// @formatter:on