@import 'base';
@import 'evolution';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {font-size: 2.0em; padding: .5em;}
h2 {font-size: 1.8em; padding: .5em;}
h3 {font-size: 1.6em; padding: .5em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.2em;}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.layout-padding {
  padding: 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.mdl-layout__content {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  //height: 100%;
}

.mdl-navigation.header {
  .mdl-button {
    color: white;
    &[disabled] {
      color: gray;
    }
  }
}

.mdl-list__item[disabled] {
  pointer-events: none;
  a {
    color: gray;
    text-decoration: none;
  }
}

.mdl-card__title {
  padding-bottom: 0px;
}
.mdl-card__supporting-text {
  padding-top: 0px;
}