.Game {
  .GameFoodContainer {
    width: 300px;
    .Food {
      display: inline-block;
    }
  }

  .Food {
    //cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #888;
    //background: #FF0;
    //outline: 1px solid black;
    &.canDrag {
      color: #00A000;
      //background: #888;
    }
    &.isDragging {
      opacity: 0;
    }
  }
  .Preview .Food {
    color: #00A000;
  }
}