@import '../../styles/variables';

$MARGIN: 1px;

.Game2-wrapper {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex: 1 0 0;

  background: lighten($MDL_ACCENT_COLOR, 10%);

  border: $MARGIN solid $MDL_ACCENT_COLOR; // Jerky "margin" =\
  box-sizing: border-box;
}

.Game2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  .row {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    &:first-child {
      max-height: 170px;
    }
  }
  .mdl-card {
    flex: 1 1 0;
    margin: $MARGIN;
    font-size: 14px;
    padding: 0 .5em;
    width: auto;
    min-height: 100px;
  }

  .Short {
    flex: 0 1 auto;
  }

  .Chat {
    font-size: .75em;
    .ChatInput .mdl-textfield {
      width: 100%;
    }
  }

  .GameShellContainer .TraitShell {
    display: inline-block;
  }

  .PlayersSticker {
    min-width: 160px;
    max-width: 160px;
    h6 {
      display: inline-block;
    }
    .PlayersList {
      font-size: 0.9em;
      line-height: 1.4em;
      .Player {
        @include ellipsis();
      }
      .isPlayerTurn {
        background: $CURRENT_TURN_BACKGROUND;
        font-weight: bold;
      }
      .material-icons {
        vertical-align: text-bottom;
        font-size: 14px;
      }
      .ended {
        color: #bbb;
      }
    }
  }

  .DeckSticker {
    .deck {
      margin: 5px 15px 15px 0;
      .Deck {
        background: gray;
        box-shadow: 1px 1px 1px 1px gray;
      }
    }
  }

  .GameSticker {
    .controls {
      display: flex;
      justify-content: space-around;
    }
    .line {
      .key {
        font-weight: bold;
      }
    }
  }

  .FoodCard {
    flex: 1;
    min-width: 100px;
  }

  .ChatCard {
    flex: 2;
  }
}