@import '../../styles/variables';

.Game2 {
  .PlayerStickerCard {
    padding: 0;
    .CardCollectionIcon {
      width: 100%;
      text-align: center;
      &.active {
        background: $CURRENT_TURN_BACKGROUND;
      }
      .material-icons {
        vertical-align: middle;
      }
    }
    .PlayerStickerControls {
      height: 100%;
      display: flex;
      flex-direction: column;
      .PlayerSticker {
        position: relative;
        overflow: hidden;
        //overflow: scroll;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        align-items: center;
        justify-content: flex-end;
        .PlayerStickerInner {
          .PlayerWrapper {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            position: relative;
            .Animal {
              flex: 0 0 $ANIMAL_WIDTH;
              max-width: $ANIMAL_WIDTH;
            }
            .CardCollection {
              height: $CARD_HEIGHT;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.arrow {
  position: absolute;
  pointer-events: none;
  opacity: .3;
  font-size: $PLAYER_STICKER_ARROW_SIZE !important;
}
.arrow-left, .arrow-right {
  top: calc(50% - 32px);
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.arrow-top, .arrow-bottom {
  left: calc(50% - 32px);
}
.arrow-top {
  top: 0;
}
.arrow-bottom {
  bottom: 0;
}