@import '../../../styles/variables';

$DEATH_ANIMATION_TIME: .5s;

.Animal {
  position: relative;
  width: $ANIMAL_WIDTH;

  background: url(../../../assets/gfx/geckoHR-opacity.svg) 50% 100% no-repeat;
  background-size: $ANIMAL_WIDTH / 2;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;


  &.Death-leave {
    transition: background linear $DEATH_ANIMATION_TIME, max-width linear $DEATH_ANIMATION_TIME;
    background: black;
    border-color: black;
    max-width: 0 !important;
    overflow: hidden;
    .AnimalTrait {
      border-color: black;
      background: black;
    }
  }

  .SelectLink {
    text-align: center;
    font-size: .75em;
    line-height: 1.1em;
    background: $TRAIT_ACTIVE_BACK;
  }

  & > .inner {
    width: 100%;
    height: $ANIMAL_HEIGHT;
    text-align: center;
    word-wrap: break-word;
  }

  &.highlight {
    box-shadow: 0px 0px 1em 1em yellow;
  }

  .material-icons {
    font-size: 20px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: text-bottom;
  }

  .Flag {
    //font-size: 1.2em;
    &.Poisoned {
      color: #f00;
    }
    &.Hibernated {
      color: #66f;
    }
  }

  .Food {
    color: #966;
  }

  .FoodCount {
    color: #966;
    font-weight: bold;
    font-size: 1.3em;
  }
}















