@import '../../../styles/variables';
@import '../../../styles/traits';

.Animal {
  position: relative;
  width: $ANIMAL_WIDTH;

  @include traits();

  & > .inner {
    width: 100%;
    height: $ANIMAL_HEIGHT;
    word-wrap: break-word;

    border: 1px solid #bbb;
    border-radius: 2px;

    background: #fff;
  }

  &.highlight {
    box-shadow: 0px 0px 1em 1em yellow;
  }

  .AnimalFoodContainer {
    margin: 20px auto 0;
    padding: 1px;
    .Food {
      color: #966;

      font-size: 1.1em;
      width: 1em;
      height: 1em;
    }
  }
}