@import '../../../styles/variables';

.AnimalTrait {
  width: 100%;
  height: $ANIMAL_TRAIT_HEIGHT;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;

  border: 1px solid gray;
  border-radius: 2px;
  background: #fff;

  text-align: center;

  transition: background .3s;

  & > .inner {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: .1em;
    line-height: 1em;

    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.draggable.active {
    background: #f90;
  }
  &.pointer.active {
    background: #f90;
  }

  &.Animate {
    background-color: green !important;
  }
}