@import "../../../styles/variables";

.GameUI {
  max-width: 160px;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  padding: .5em 1em 0;
  border-right: 1px solid #ccc;
  .Chat {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    .ChatWindow {
      flex-grow: 1;
      flex-basis: 0;
      max-height: none;
    }
  }
}

.PlayersList {
  .Player {
    @include ellipsis();
  }
  .isPlayerTurn {
    background: $CURRENT_TURN_BACKGROUND;
    font-weight: bold;
  }
  .material-icons {
    vertical-align: middle;
  }
  .ended {
    color: #bbb;
  }
}

.GameStatus {
  margin-top: .5em;
  .line {
    white-space: nowrap;
  }
  .key {
    display: inline-block;
    width: 4em;
    font-weight: bold;
  }
  .value {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
