@import '../../../styles/variables';

.TraitActivateDialog {
  .Row {
    display: flex;
    flex-wrap: wrap;
    .Item {
      cursor: pointer;
      margin: $ANIMAL_MARGIN;
      &:hover {
        @include selection();
      }
    }
  }
}

.TraitRecombinationDialog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 4 * $ANIMAL_WIDTH;
  .TraitHolder {
    transition: transform .25s;
    &.selected0 {
      transform: translate($ANIMAL_WIDTH);
    }
    &.selected1 {
      transform: translate(-$ANIMAL_WIDTH);
    }
  }
}