@import '../../../styles/variables';
@import '../../../styles/traits';

.TraitActivateDialog {
  @include traits();

  .Row {
    display: flex;
    flex-wrap: wrap;
    .Item {
      cursor: pointer;
      margin: $ANIMAL_MARGIN;
      &:hover {
        @include selection();
      }
    }
  }
}