@import '../../../styles/variables';

.TraitActivateDialog {
  .Row {
    display: flex;
    flex-wrap: wrap;
    .Item {
      cursor: pointer;
      margin: $ANIMAL_MARGIN;
      &:hover {
        @include selection();
      }
    }
  }
}