@import '../../../styles/variables';

.TraitDefenceDialog {
  .Row {
    display: flex;
    flex-wrap: wrap;
    .Item {
      cursor: pointer;
      margin: $ANIMAL_MARGIN;
      &:hover {
        @include selection();
      }
    }
  }

  .TailLoss .Row {
  }

  .Mimicry .Row {
    align-items: flex-end;
  }
}