@import '../../../styles/variables';
@import '../../../styles/traits';

.Card {
  width: $CARD_WIDTH;
  .inner {
    transition: transform .5s;
    width: 100%;
    height: $CARD_HEIGHT;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #ddd;
    background-size: $CARD_WIDTH $CARD_HEIGHT;
    display: flex;
    flex-direction: column;
  }
  &.alternateTrait .inner {
    transform: rotate(180deg);
  }
  &.canDrag .inner {
    background-color: #fff;
    @include traits();
  }
  &.isDragging {
    opacity: 0;
  }
  .trait {
    text-align: center;
    font-size: 0.9em;
    line-height: 1em;
    padding: .3em;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    flex: .5;
  }
  .trait-single {
    flex: 1;
  }
  .trait1 {
  }
  .trait2 {
    transform: rotate(.5turn);
  }
}