@import '../../../styles/variables';
@import '../../../styles/traits';

.Card {
  width: $CARD_WIDTH;
  box-sizing: border-box;
  border: 1px solid #999;

  &.cover {
    border: 2px solid #040;
    border-top-color: #484;
    border-right-color: #484;
    border-radius: 5px;
  }

  &.cover .inner {
    background-size: $CARD_WIDTH / 4 * 3;
    border: solid $CARD_WIDTH / 10 #080;
    border-radius: 5px;
    box-sizing: border-box;
    background: #dfd url(../../../assets/gfx/gecko-080.svg) no-repeat 50% 50%;
  }

  .inner {
    transition: transform .5s;
    width: 100%;
    height: $CARD_HEIGHT;
    background-color: #ddd;
    background-size: $CARD_WIDTH $CARD_HEIGHT;
    display: flex;
    flex-direction: column;
  }

  // Selected alternate trait
  &.alternateTrait .inner {
    transform: rotate(180deg);
  }

  &.canDrag .inner {
    background-color: #fff;
    @include traits();
  }

  &.isDragging {
    opacity: 0;
  }
  .trait {
    text-align: center;
    font-size: 0.9em;
    line-height: 1em;
    padding: .3em;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    flex: .5;
  }
  .trait-single {
    flex: 1;
  }
  .trait1 {
  }
  .trait2 {
    transform: rotate(.5turn);
  }
}