.DeckWrapper {
  margin: 0 0 15px;
  display: flex;
  .mdl-button--icon {
    margin-left: 10px;
  }
}
.Deck {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  box-shadow: 1px 1px 2px 1px black;
  .CardPlace {
    display: inline-block;
  }
}