.DeckSticker {
  .size {
    text-align: center;
  }
  .deck {
    margin: 5px 15px 15px 0;
    .Deck {
      background: black;
      box-shadow: 1px 1px 2px 1px black;
    }
  }
  .controls {
    display: flex;
    justify-content: space-around;
  }
  .line {
    .key {
      font-weight: bold;
    }
  }
}