@import '../../../styles/variables';

.Animal {
  position: relative;
  width: $ANIMAL_WIDTH;

  .SelectLink {
    text-align: center;
    font-size: .75em;
    line-height: 1.1em;
  }

  & > .inner {
    width: 100%;
    height: $ANIMAL_HEIGHT;
    text-align: center;
    word-wrap: break-word;

    border: 1px solid #bbb;
    border-radius: 2px;

    background: #fff;
  }

  &.highlight {
    box-shadow: 0px 0px 1em 1em yellow;
  }

  .material-icons {
    width: 1em;
    height: 1em;
  }

  .Flag {
    font-size: 1.5em;
    &.Poisoned {
      color: #f00;
    }
    &.Hibernated {
      color: #66f;
    }
  }

  .Food {
    color: #966;
    font-size: 1.1em;
  }
}