.ControlGroup {
  margin: 0 0 0 1em;
  border: 1px solid rgba(255, 255, 255, .25);
  display: inline-block;

  .title {
    display: inline-block;
    margin: 0 1em;
    &:after {
      content: ':'
    }
  }

  .body {
    display: inline-block;
  }
}